:root {
    --primary: #fff;
    --secondary: #D2B450;
    --hover: #d38237;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.25rem;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-mobile {
    text-decoration: none;
}

.btn--primary {
    background-color: var(--primary);
    color: #000;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: var(--primary);
    padding: 0.5rem 1.25rem;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--leverum {
    background-color: transparent;
    color: var(--secondary); 
    border: 2px solid var(--secondary);
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.btn--noderum {
    background-color: var(--secondary); 
    color: var(--primary); 
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.btn--medium {
    padding: 0.75rem 1.5rem;
    font-size: 1.375rem;
}

.btn--large {
    padding: 1rem 1.875rem;
    font-size: 1.5rem;
}

.btn:hover, .btn:focus {
    transition: all 0.3s ease-out;
    transform: scale(1.05);
    box-shadow: 0 0 8px var(--secondary);
}

.btn--large:hover, .btn--medium:hover, .btn--large:focus, .btn--medium:focus {
    background-color: var(--primary);
    color: #242424;
    border-color: #242424;
    opacity: 1; 
    transition: all 0.3s ease-out;
}

.btn--leverum:hover, .btn--noderum:hover, .btn--leverum:focus, .btn--noderum:focus {
    background-color: var(--hover); 
    color: var(--primary);
    opacity: 0.8; 
}